[Unit]
Description=disable some events to wakeup device
After=systemd-udev-settle.service

[Service]
Type=idle
ExecStart=/home/suemi/Application/bin/suspend.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
